.next/
out/
node_modules/
.env*
!.env.example
.update-config.json
data/
*.log
*.tsbuildinfo
.DS_Store
.idea
web/dist

**/dist
web/public/plugins
plugins/canvas/*/dist
plugins/canvas/*/node_modules
web/public/plugins
